.container-fluid{
  height: 100%;
}

.row{
  width: 100%;
  height: 100%;
}

.bgImage{
  background-image: url('/assets/wave.svg'),url('/assets/bg2.svg');
  background-repeat: no-repeat;
  background-size: contain,75%;
  background-position: left, 40% center;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 70%;
  }
}
